*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
!/uob-timetable/build/outputs/apk/uob-timetable-debug.apk
uob-timetable/release