<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ak.uobtimetable">

    <meta-data
        android:name="com.google.android.backup.api_key"
        android:value="AEdPqrEAAAAICbUGngn5y_Y3Ceehq0GuSeEW_dbF04FelrPtVA" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/uob_logo"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".CourseListActivity"
            android:label="@string/activity_course_list_label"
            android:logo="@drawable/uob_logo" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_settings_label"
            android:logo="@drawable/uob_logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeveloperActivity"
            android:label="@string/activity_developer_label"
            android:logo="@drawable/uob_logo"/>
        <activity
            android:name=".WelcomeActivity"
            android:logo="@drawable/uob_logo" />

        <receiver
            android:name=".Notifications.SessionReminderReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>